.ui.menu.server-menu {
	background-color: $p5-medium-gray;
	padding-left: 179px;
	& .item {
		font-size: 14px;
		color: $p5-lighter-gray;
		font-weight: 500;
		&:hover {
			background-color: $p5-light-gray !important;
			color: $p5-lighter-gray !important;
		}
	}
	& .active.item {
		background-color: $p5-light-gray;
		border-radius: 0px;
	}
}
