.ui.menu.server-menu {
  background-color: rgb(87, 97, 112);
  padding-left: 179px;
  & .item {
    font-size: 14px;
    color: rgb(212, 211, 211);
    font-weight: 500;
    &:hover {
      background-color: rgb(104, 116, 134) !important;
      color: rgb(212, 211, 211) !important;
      } 
    }
  & .active.item {
    background-color: rgb(104, 116, 134);
    border-radius: 0px;
	}
}