.dash {
	background-color: rgb(255, 255, 255); 
	color: black;
	&__container {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
	&__main {
    display: flex;
		flex-direction: row;
		max-width: 100%;
		background-color: rgb(235, 235, 235);
	}
}

/* Table Styling */
.table-heading {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(2, 105, 132);
  font-family: Arial, Helvetica, sans-serif;
}
.ui.tabular.menu > .item {
	background-color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: bold;
	color: rgb(2, 88, 110);
	padding-left: 15px;
	padding-right: 15px;
}
.ui.tabular.menu > .active.item {
	background-color: rgb(235, 235, 235);
	font-size: 16px;
	font-weight: bold;
	color: rgb(2, 88, 110);
	padding-left: 15px;
	padding-right: 15px;
}
.ui.menu {
	font-size: 14px;
	border-radius: 0px;
}
.ui.table {
	font-size: 12px;
	margin-bottom: 0px;
  overflow-wrap: break-word; 
}

/* Positive Green Table Cell */
.ui.table td.positive,
.ui.table tr.positive {
	background-color: rgb(247, 255, 240) !important; // original rgb(252, 255, 245)
	color: rgb(44, 102, 45) !important;
}
