.dashboardv2 {
	background-color: rgb(211, 211, 211);
	// background-color: #eaeaea;
	color: black;
  // margin-left: 10px;
  // max-width: 1440px;
	&__container {
		display: flex;
		flex-direction: row;
    // justify-content: flex-start;
		// max-width: 1440px; // 1200px vs 1440px large laptop
		max-width: 1240px; // 100px margin on each side
		// max-width: 1000px;
		margin: 0 auto;
		// order: dashed 5px blue;
		padding-bottom: 1000px;
		padding-top: 20px;
	}
	&__refresh {
		display: flex;
		flex-direction: row;
		// justify-content: space-between;
		justify-content: flex-end;
		width: 1000px;
		&-timer {
			display: flex;
			flex-direction: row;
			// width: 300px;
		}

    // &__sidebar-container {
    //   width: 3000px;
    //   height: 1500px;
    //   margin-right: 20px;
    // }


	}
	&__srvinfo {
		width: 800px; // not applied by semantic ui
	}
	&__devices {
		width: 200px; // not applied
	}
}



.bold {
	font-weight: 600;
}
.bolder {
	font-weight: 900;
}
.black {
	color: black;
}
.underline {
	text-decoration: underline;
}

.button.ui.button {
	color: darkblue;
}

.button {
	width: 100px;
}

.space {
	margin-bottom: 100px;
}

h1 {
	font-size: 20px;
}


.ui.tabular.menu .active.item {
  background-color: rgb(233, 233, 233);
}

.ui.sidebar {
  position: inherit; 
}

/** Sidebar Menu **/
.ui.vertical.menu  {
  height: 800px;
  width: 160px;
  padding-top: 80px;
  background-color: darkgray;
  & .item { 
  //  background-color: lightgreen;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  & .active.item {
    // margin-top: 10px;
  }
}

// div.item { 
//   //  background-color: lightgreen;
//     padding-top: 50px;
//     // padding-bottom: 18px;
// }
