.jobs {
	&__table-wrapper {
		width: 1000px;
	}
	&__heading {
		margin-bottom: 3px;
		font-weight: bold;
		// color: rgb(2, 105, 132);
		color: rgb(2, 88, 110); // darker
	}
	&__hostname {
		font-weight: bold;
	}
}

h1 {
	font-size: 20px;
}

// .table-wrapper {
//     width: 200px;
//   }
