.jobs {
	&__table-wrapper {
    margin-bottom: 16px;
    width: 715px;  
    /* --------- add scrollbar ------- */
    // height: 300px;
    // overflow-y: scroll;  /* or auto */
	}
	&__dropdown {
		font-weight: bold;
    background-color: white;
    margin-right: 20px;
    height: 30px;
    &-table-wrapper {
      display: flex;
    }
	}
}