.jukebox {
  margin-left: 10px; 
	&__table-wrapper {
    margin-bottom: 10px;
		width: 415px;  
    /* --------- add scrollbar ------- */
    // height: 541px; // <---- 241px up to Jobs table + 300px Jobs table 
    // overflow-y: scroll;  /* or auto */
	}
}