.jukebox {
  margin-left: 10px; 
	&__table-wrapper {
    margin-bottom: 10px;
		width: 415px;  
    /* --------- add scrollbar ------- */
    // height: 541px; // <---- 241px up to Jobs table + 300px Jobs table 
    // overflow-y: scroll;  /* or auto */
	}
}

th.jukebox__header-green {
  // background-color: $light-green !important;
  color: $green !important;
  font-weight: 400 !important;
}

td.jukebox__cell-green {
  // background-color: $light-green !important;
  color: $green !important;
  font-weight: 400 !important;
}