.client {
  &__table-wrapper {
    width: 900px;
  }
	&__heading {
		margin-bottom: 3px;
		font-weight: bold;
		color: rgb(2, 105, 132);
		// color: rgb(2, 88, 110); // darker
	}
  &__buttons {
    display: flex;
    flex-direction: row;
  }
  &__button {
    // margin-right: 10px; 
  }
}

h1 {
  font-size: 20px;
}

button.ui.button {
  margin-right: 15px;
}