.ui.menu.dashboard-header {
  background-color: $p5-dark-gray;
  height: 50px;
  & .right-side { 
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  & .item {
    background-color: $p5-dark-gray !important;
    color: $p5-lighter-gray; 
    padding-right: 12px;
    padding-left: 12px;
    &:hover {
      background-color: $p5-dark-gray !important;
      color: $p5-lighter-gray !important;
    }
    & .active.item {
      background-color: $p5-dark-gray !important;
      color: $p5-lighter-gray !important;
      border-radius: 0px;
    }
  }
}
.header.item {
  font-size: 18px;
}
.ui.menu .item > i.icon {
  color: $p5-lighter-gray;
  margin-right: 10px
}
i.sidebar.left.icon.sidebar-icon {
  margin-right: 0px;
}


