.ui.menu.dashboard-header {
  background-color: rgb(61, 68, 79);
  height: 50px;
  & .right-side { 
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  & .item {
    background-color: rgb(61, 68, 79) !important;
    color: rgb(212, 211, 211); 
    padding-right: 12px;
    padding-left: 12px;
    &:hover {
      background-color: rgb(61, 68, 79) !important;
      color: rgb(212, 211, 211) !important;
    }
    & .active.item {
      background-color: rgb(61, 68, 79) !important;
      color: rgb(212, 211, 211) !important;
      border-radius: 0px;
    }
  }
}
.header.item {
  font-size: 18px;
}
.ui.menu .item > i.icon {
  color: rgb(212, 211, 211);
  margin-right: 10px
}
i.sidebar.left.icon.sidebar-icon {
  margin-right: 0px;
}


