/* Breakpoints  */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

/* Layout spacing */
$side-margin-mob: 1.6rem; 
$side-margin-tab: 2.4rem;
$side-margin-desk: 18rem;
$max-width: 1080px;

/* Colours */
$black: rgb(0, 0, 0);
$blue: rgb(2, 105, 132);              // table headers
$green: rgb(44, 102, 45);             // positive cell text 
$light-green: rgb(247, 255, 240);     // positive cell
$white: rgb(255, 255, 255);
$light-grey: rgb(235, 235, 235);

$p5-lighter-gray: rgb(212, 211, 211); // menu item text
$p5-light-gray: rgb(104, 116, 134);   // select 
$p5-medium-gray: rgb(87, 97, 112);    // sidebar and menu   
$p5-dark-gray: rgb(61, 68, 79);       // header

/* Fonts */ 
$primary-font: "Arial, Helvetica";

