/* Breakpoints  */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

/* Layout spacing */
$side-margin-mob: 1.6rem;   // check for iphone
$side-margin-tab: 2.4rem;
$side-margin-desk: 18rem;
$max-width: 1080px;

/* Global */
$paragraph-text: #323232;
$text-label-style: #afafaf;
$text-field-border: #e1e1e1;
$text-field-background-fill: #fafafa;

/* Colours */
$black: #13182c;
$indigo: #2e66e5;
$slate: #5c667e;
$cloud: #bdc5d5;
$white: #ffffff;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;

/* Fonts */ 
$primary-font: "Titillium Web";
